[submodule "solarized/dircolors-solarized"]
	path = solarized/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "solarized/gnome-terminal-colors-solarized"]
	path = solarized/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "solarized/tmux-colors-solarized"]
	path = solarized/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "wemux"]
	path = wemux
	url = git://github.com/zolrath/wemux.git
[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = git://github.com/nojhan/liquidprompt.git
[submodule "resty"]
	path = resty
	url = https://github.com/micha/resty.git
